Binaries/*
DerivedDataCache/*
Intermediate/*
Saved/*
Content/Weapon_Pack/*

*.bin
*.vC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
*.xcdeproj
*.vscode
*.vs
*.sln
Content/Weapons_Kit_BuiltData.uasset
